---
import Default from "../../layouts/Default.astro";
import SearchComponent from "../../components/blog/Search.astro";
---

<Default>
  <h1 class="text-2xl font-bold mb-5">
    Vous recherchez un article en particulier ?
  </h1>

  <SearchComponent />
</Default>
