---
interface Props {
  pubDate: number;
  isbn?: string | null;
  link?: string | null;
}

const { pubDate, isbn, link } = Astro.props;
---

<div class="text-gray-300 text-sm">
  <div class={!isbn ? "text-orange-500" : ""}>
    {!isbn ? `Sortie prévue en ${pubDate}` : `Publié en ${pubDate}`}
  </div>

  <div class="mt-2">
    N° ISBN : <span class="font-bold"
      >{isbn ? isbn : "En cours de rédaction"}</span
    >
  </div>

  {
    link && (
      <div class="mx-auto p-5 mt-2 w-full bg-gray-100 dark:bg-gray-800 rounded-lg">
        Vous souhaitez lire ce livre? <br />
        Suivez ce{" "}
        <a href={link} class="text-blue-500 font-bold">
          {" "}
          lien
        </a>
      </div>
    )
  }

  <slot />
</div>
