---
import { Image } from "astro:assets";

import Default from "../layouts/Default.astro";
import Title from "../components/commons/Title.astro";
import SubTitle from "../components/commons/SubTitle.astro";

import profile from "../assets/images/photo.webp";
---

<Default>
  <Title icon="mdi:duck" title="Qui suis-je ?" />

  <div class="flex sm:flex-row flex-col gap-4">
    <Image
      src={profile}
      alt="Profile"
      class="mx-auto h-full rounded-lg shadow"
    />

    <div>
      <p class="mb-6 text-sm">
        Salut ! Moi, c'est Kevin Delfour, un développeur, entrepreneur,
        inventeur, et même Lord of Glencoe (oui, j'ai un bout de terrain en
        Écosse !). J'ai créé ce blog pour partager ma passion pour la
        technologie, le management, et l'innovation organisationnelle. Ici, je
        veux bousculer les idées reçues et faire bouger les lignes, un article à
        la fois.
      </p>

      <SubTitle title="Mon parcours en quelques mots" />
      <p class="mb-6 text-sm">
        Après des années à coder, coacher des équipes agiles et diriger
        techniquement des projets, j'ai pris le virage du management avec MAX
        Digital Services Lyon. Je suis un manager qui aime être sur le terrain,
        ouvrir des portes et encourager chacun à prendre le lead. Mon but est de
        développer les talents et de créer un environnement où tout le monde se
        sent à sa place et productif. Travailler avec des équipes autonomes est
        ce qui me passionne le plus, et j'aime voir les gens s'approprier leur
        travail et aller au-delà des attentes.
      </p>

      <SubTitle title="Pourquoi j'aime faire ce que je fais" />
      <p class="mb-6 text-sm">
        Je suis motivé par la création d'environnements de travail
        épanouissants, basés sur la transparence et l'amélioration continue. Mon
        rêve est de voir toutes les entreprises adopter des pratiques
        d'organisation libérée, où l'humain est au centre. Les nouvelles formes
        de management, qui valorisent l'autonomie et l'engagement, permettent
        d'atteindre des résultats impressionnants, et c'est ce défi qui me donne
        envie de me lever le matin.
      </p>

      <SubTitle title="Quelques fiertés personnelles" />
      <p class="mb-6 text-sm">
        Je suis co-fondateur du projet iBubble, une caméra sous-marine autonome.
        Ce projet a été une aventure incroyable qui a combiné technologie,
        entrepreneuriat et plongée. J'ai également participé à des conférences
        comme Agile Grenoble pour partager mon expérience sur les équipes
        autonomes. Et je suis aussi "Associate" de Time for the Planet, une
        initiative qui lutte contre le changement climatique. Bref, je n'aime
        pas m'ennuyer et j'essaie toujours de laisser une empreinte positive.
      </p>

      <SubTitle title="En dehors du boulot ?" />
      <p class="mb-6 text-sm">
        Quand je ne suis pas derrière mon clavier, vous me trouverez en
        randonnée ou à découvrir de nouveaux restos à Lyon. Pour moi, la
        gastronomie est une exploration, tout comme la tech. J'aime découvrir
        des endroits méconnus, et, qui sait, peut-être un jour vous inviterai-je
        à un barbecue sur mon mètre carré de terre écossaise... Soyons
        réalistes, l'écologie c'est important, mais un bon barbecue ne se refuse
        pas.
      </p>

      <SubTitle title="Bref" />
      <p class="mb-6 text-sm">
        Ce blog est ma manière de combiner la tech, le management, et l'envie de
        partager. Je veux inviter chacun à réfléchir autrement, repousser les
        limites, et surtout, à être curieux. Si vous êtes prêt à bousculer les
        idées reçues, alors vous êtes au bon endroit. Allez, on plonge ensemble
        ?
      </p>
    </div>
  </div>
</Default>
