---
import { Image } from "astro:assets";

import Prose from "../components/Prose.astro";
import Default from "../layouts/Default.astro";
import ListArticles from "../components/blog/ListArticles.astro";

import imgBanner from "../assets/images/banner.svg";
import imgArticle from "../assets/images/last-article.svg";
---

<Default>
  <Image src={imgBanner} alt="Banner" class="w-full h-auto rounded-lg" />
  <span class="text-3xl font-bold text-orange-500">>>> Bienvenue !</span>
  <div class="mt-5 grid grid-cols-2 gap-4">
    <p>
      Ce projet est né de mon envie constante de bousculer les idées préconçues et
      de sortir des chemins tout tracés. Je crois fermement que les meilleures
      solutions naissent quand on ose remettre en question les normes et proposer
      des idées qui ne correspondent pas nécessairement aux critères classiques de
      notre société.
    </p>
    <p>
      Vous êtes dans mon espace de réflexion où la technologie rencontre la gestion
      humaine, le management, l'holacratie et l'idée d'une entreprise libérée.
    </p>
    <p>
      Bien sûr, je suis passionné de tech, mais je suis également animé par ces
      nouveaux modèles d'organisation qui dépassent le cadre traditionnel. Je veux
      échanger des perspectives, partager des concepts, et démontrer que les
      seules limites que nous devrions connaître sont celles de notre imagination.
      Le reste est à notre portée, tout est faisable.
    </p>
    <p>
      Ce blog est donc une invitation à sortir des sentiers battus, que ce soit
      dans la tech ou au-delà, pour créer, innover, et transformer nos idées en
      actions concrètes. Plongeons ensemble dans cet univers fascinant où chaque
      idée compte, et où tout devient possible si l'on ose imaginer.
    </p>
  </div>

  <h1 class="text-3xl font-bold my-5 text-orange-500">>>> Les derniers articles</h1>
  <ListArticles slice="3" />
</Default>

<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    width: calc(50% - 1rem);
  }
  ul li * {
    text-decoration: none;
    transition: 0.2s ease;
  }
  ul li:first-child {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
  }
  ul li:first-child img {
    width: 100%;
  }
  ul li:first-child h4 {
    font-size: 2.369rem;
    margin: 0;
  }
  ul li:first-child p {
    text-align: center;
  }
  ul li img {
    margin-bottom: 0.5rem;
    border-radius: 12px;
  }
  ul li a {
    display: block;
  }
  ul li a:hover h4,
  ul li a:hover .date {
    color: rgb(var(--accent));
  }
  ul a:hover img {
    box-shadow: var(--box-shadow);
  }
  @media (max-width: 720px) {
    ul {
      gap: 0.5em;
    }
    ul li {
      width: 100%;
      text-align: center;
    }
    ul li:first-child {
      margin-bottom: 0;
    }
    ul li:first-child .title {
      font-size: 1.563em;
    }
  }
</style>
